* {
    list-style-type: none;
    margin-left: 50px;
    margin-right: 50px;
}
/* linea vertical */
.vl {
    border-left: 3px solid rgb(122,145,250);
    height: 100%;
    position: absolute;
    left: 50%;
}

/* Nombre y apellido */
h1  {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: none;
    font-size: 60px;
    color: #000000;
    padding-right: 10%;    
}

/* Imagen */
span {
    text-decoration: underline;
}

.maintext1 {
    text-decoration: underline blue 10px ;
    width: 734px;
    text-align: right;
    background-color: yellow;
    font-size: 30px;
    font-family: monospace;
}

.text1 {
    background-color: red;
    width: 903px;
    text-align: right;
    font-family: 'Crimson Text', serif;
}

